/* ------------- Barra de navegación ------------------ */

.navbar {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8); /* O un color sólido */
}

.opc-bg {
    /* empty style   */
    border-radius: 50px !important;
}

.opc-bg:hover {
    background-color: red !important;
    border-radius: 50px !important;
    color: white !important;   
}



/* footer */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.footer{
    position: relative;
    width: 100;
    background: black;
    min-height: 100px;
    padding: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon{
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover{
    transform: translateY(-10px);
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
}

.menu-elem{
    list-style: none;
}
.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}